body,
html {
  width: 100%;
  height: 100%;
  background-color: #212529;
}

body {
  font-family: "Montserrat", Arial, serif;
}

a {
  color: #f05f40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, serif;
}

.bg-primary {
  background-color: #f7819f !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 6rem 0;
}

body {
  -webkit-tap-highlight-color: #212529;
}

/*Barra de Navegacion*/
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: "Montserrat", Arial, serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #f7819f;
  font-family: "Montserrat", Arial, serif;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #af286e;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #f7819f;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #f7819f !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    background-color: #212529;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #f7819f;
  }

  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f7819f;
  }

  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
  }

  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #f7819f;
  }
}

/*Portafolio*/
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(247, 129, 159, 0.8);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category,
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  padding: 0 15px;
  font-family: "Montserrat", Arial, serif;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-category {
    font-size: 16px;
  }

  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-name {
    font-size: 22px;
  }
}

.btn-xl {
  padding: 1rem 2rem;
}

.test {
  height: 100px;
  margin-right: 4px;
  margin-left: 4px;
  bottom: 40px;
}

textarea {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #f7819f;
  letter-spacing: 2px;
  font-family: "Montserrat", Arial, serif;
  font-size: 0.625rem;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
  min-width: 300px;
  min-height: 170px;
  resize: none;
}

input {
  color: #fff;
  color: #fff;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #f7819f;
  letter-spacing: 2px;
  font-family: "Montserrat", Arial, serif;
  font-size: 0.625rem;
  padding: 1rem 0;
  min-width: 300px;
  width: 100%;
}

.btn-full-width {
  font-size: 26px;
  font-weight: 200;
  padding: 50px 0;
  letter-spacing: normal;
  text-transform: none;
  color: white;
  border: 0;
  border-radius: 0;
  background-color: #222;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-full-width:hover {
  color: white;
  background-color: #f7819f;
  cursor: pointer;
}

.contacto {
  padding: 50px 0;
  box-sizing: inherit;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

hr {
  width: 100px;
  height: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr.colored {
  border-color: #f7819f;
}

hr.coloredwhite {
  border-color: #fff;
}

.white {
  color: white;
}

.white:hover {
  color: #222;
}

.textoslider {
  letter-spacing: 0;
  font-size: 46px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
}

.textoslider3 {
  letter-spacing: 0;
  font-size: 25px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
}

.btn2 {
  font-weight: 900;
  padding: 12px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 900;
  padding: 12px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
}

.btn2-primary {
  border: 1px solid white;
  background-color: transparent;
}

.btn2-primary:focus,
.btn2-primary:hover {
  color: #222;
  border-color: white;
  background-color: white;
  text-decoration: none;
}

/*404*/
header.principal1 {
  padding-top: 12rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #c97087;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.glitch {
  position: relative;
  top: 40%;
  margin: 0 auto;
  color: white;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.glitch:before,
.glitch:after {
  content: "ERROR 404";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #c97087;
  color: #fff;
}

.glitch:before {
  left: 8px;
  text-shadow: -2px 0 #00ffea;
  animation: effect 3s infinite linear;
}

.glitch:after {
  left: 4px;
  text-shadow: -2px 0 #fe3a7f;
  animation: effect 3s infinite linear;
}

@keyframes effect {
  0% {
    clip: rect(55px, 9999px, 59px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 36px, 0);
  }
  15% {
    clip: rect(35px, 9999px, 9px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 59px, 0);
  }
  25% {
    clip: rect(96px, 9999px, 56px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 60px, 0);
  }
  55% {
    clip: rect(23px, 9999px, 81px, 0);
  }
  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}
/*FIN 404*/

/*Parallax*/
.para2 {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  width: 100%;
  height: 350px;
  background-image: url("../img/111.jpg");
  position: relative;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 250px;
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 38px;
}

/* Scroll */
::-webkit-scrollbar {
  background: #101010;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(top, #fff 10%, #fff 51%);
}

footer p.copyright-text {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 15px;
}

/*Intro Principal*/
header.intro {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #222;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}

header.intro .intro-title {
  font-size: 4rem;
  line-height: 4rem;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

header.intro .intro-subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.h-100 {
  height: 100% !important;
}

.container2 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

header.intro .scroll-down {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

header.intro .scroll-down .btn {
  font-size: 30px;
  line-height: 50px;
  width: 3rem;
  height: 3rem;
  padding: 0;
  letter-spacing: normal;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.75);
}

header.intro .scroll-down .btn:hover {
  color: rgba(247, 129, 159, 1) !important;
  border-color: rgba(247, 129, 159, 1);
  outline: none;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

/*Banner parallax*/
.parallax-container {
  background-color: #212529;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-parallax {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.img-parallax {
  background-image: url("../img/slider3.jpg");
  background-position: center;
  background-size: cover;
}

#about1-bg-diagonal {
  width: 60%;
  height: 700px;
  float: right;

  border-left: 300px solid #212529;
  border-top: 700px solid transparent;
  background-attachment: fixed;
  background-position: center 0%;
}

.about1-content-box {
  float: left;
  height: 700px;
  visibility: hidden;
}

.about1-content-box-outer {
  width: 100%;
  height: 100%;
  display: table;
  background-color: #212529;
}

.about1-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

.content-title p {
  text-align: left;
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.space {
  height: 40px;
}

.text-promo {
  height: 200px;
  position: relative;
  min-height: 150px;
  padding-top: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.lead {
  font-size: 16px;
}

.img-responsive {
  max-width: 100%;
  height: 100px;
}

.margin-contact {
  margin-left: 3rem;
  margin-right: 3rem;
}

.service-container {
  padding-top: 6rem;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.service-item {
  padding-left: 2rem;
  padding-right: 2rem;
}

.service-container h3 {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 1px 1px 1px #101010;
}
